# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 910e4511d6a43f38f65273dbaa15285f5d25114830165f1281a283f9f5701ea570be4fe4191cbd3f5a9a29820cb6f1a50cd06f10dfb9c35ad13dc122846475d8

test:
  secret_key_base: c97d18b933666cc66055eb0470e5f76086568115faf0da5bdb4be11b2aed1dbd11ae34e62433dfb545b234e829e0749d2710459a53c75afe87292ac014739198

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
